* {
    margin:0 auto;
    padding: 0;
    font-family: Georgia;
}

body {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 50px auto;
}

h1 {
    font-size: 50px;
    color: blue;
}

h3 {
    font-style: italic;
    margin:0 0 50px 0;
}

article {
    margin: 100 0;
    font-size: 20git px;
}

footer {
    font-style: italic;
    margin: 50px auto;
}
